<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1>ToDo List</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/todo'"> A Fazer </a>
        <a mat-button [routerLink]="'/doing'"> Em Progresso </a>
        <a mat-button [routerLink]="'/done'"> Concluídas </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
<main class="container">
  <div>
    <form class="new-task">
      <div class="fields">
        <mat-form-field appearance="fill">
          <mat-label>Nova Tarefa</mat-label>
          <input matInput placeholder="Ex: Comprar Leite">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Data de Conclusão</mat-label>
          <input matInput [matDatepicker]="datepicker">
          <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button type="button" mat-button matDatepickerCancel>Cancel</button>
              <button type="button" mat-raised-button color="primary" matDatepickerApply>Apply</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
      </div>
      <div class="add">
        <button mat-raised-button  color="primary" type="submit">
          <mat-icon aria-hidden="false" aria-label="Add Task" fontIcon="add"></mat-icon>
        </button>
      </div>
    </form>
  </div>
  <mat-divider></mat-divider>
  <router-outlet></router-outlet>
</main>